<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Miejsce występowania grzybów '">
<th:block layout:fragment="content">
    <form class="form-horizontal" method="post" th:action="@{/localization/create}" th:object="${localizationTO}"
          id='localizationForm'>
        <div class="form-group row">
            <label for="grzybselect" class="col-lg-offset-3 col-lg-6">Grzyb</label>
            <div class="col-lg-offset-3 col-lg-6">
                <select class="form-control" id="grzybselect" th:field="*{grzyb.id}">
                    <option th:each="her: ${grzyblist}" th:text="${her.name}" th:value="${her.id}"/>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="localizationNorth-input" class="col-lg-offset-3 col-lg-6">Szerokość gęograficzna</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input step="0.01" min="49" max="54.50" class="form-control" placeholder="0.0000"
                       th:field="*{localizationNorth}" type="number" id="localizationNorth-input"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="localizationEast-input" class="col-lg-offset-3 col-lg-6">Długość geograficzna</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input step="0.01" min="14.07" max="24.08" class="form-control" placeholder="0.000" type="number"
                       th:field="*{localizationEast}" id="localizationEast-input"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="ecology-input" class="col-lg-offset-3 col-lg-6">Srodowisko</label>
            <div class="col-lg-offset-3 col-lg-6">
                <select class="form-control" id="ecology-input" th:field="*{ecology}">
                    <option th:value="GOOD" th:text="Dobre"/>
                    <option th:value="BAD" th:text="Złe"/>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="comment-input" class="col-lg-offset-3 col-lg-6">Komentarz</label>
            <div class="col-lg-offset-3 col-lg-6">
                <textarea class="form-control" rows="10" cols="20" th:field="*{comment}" id="comment-input"/>
                <div th:if="${#fields.hasErrors('comment')}"  th:errors="*{comment}" class="alert alert-danger" > </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary" id='sendRegisterForm'>Dodaj</button>
            </div>
        </div>

    </form>
</th:block>
</html>