<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Aktualizacja grzyba'">
<th:block layout:fragment="content">
    <form class="form-horizontal" method="post" th:action="@{/grzyb/edit/{id}(id = ${grzyb.id})}" th:object="${grzyb}"
          id='herbForm'>
        <div class="form-group row">
            <label for="name-input" class="col-lg-offset-3 col-lg-6">Nazwa grzyba</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Borowik szlachetny" th:field="*{name}" type="text"
                       id="name-input"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="attribute-select" class="col-lg-offset-3 col-lg-6">Właściwość</label>
            <div class="col-lg-offset-3 col-lg-6">
                <select class="form-control" id="attribute-select" th:field="*{attribute.id}">
                    <option th:each="attribut: ${attributeList}" th:text="${attribut.description}"
                            th:value="${attribut.id}"/>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary" id='sendRegisterForm'>Dodaj</button>
            </div>
        </div>
    </form>
    </form>
</th:block>
</html>
