<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Zabawa'">
<th:block layout:fragment="content">


    <style>
        canvas{
            display: block;
            margin: 0 auto;
        }
    </style>

<body>


<canvas id="snake" width="608" height="608"></canvas>

<!--<script src="/resources/static.js/snake.js"></script> -->

<script th:src="@{/js/snake.js}"></script>

<!--<table class = "table">
    <tbody >
    <a  th:href="@{/zbieranie}" class="btn btn-primary" >Gra - Zbieranie grzybów </a>
    </tbody >
</table>  -->

</body>
<!--<script src="resources/static.js/snake.js"></script> -->

</th:block>
</html>