<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Szczegóły grzyba'">
<th:block layout:fragment="content">
    <body background="https://c.pxhere.com/photos/3f/6b/funnel_ling_mushroom_hexenring_late_autumn_mushroom_group_forest_mushrooms-1171776.jpg!d">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive center" th:if="*{grzyb.image != null}"
                 th:src="@{'data:image/jpg;base64,'+ *{grzyb.image}}"/>
        </div>
        <div class="col-md-6">
            <div class="caption-full">
                <h4 th:text="'Nazwa grzyba :' + ${grzyb.name}"></h4>
                <h4 th:text="'Właściwości :' + ${grzyb.attribute.getDescription()}"></h4>
                <p th:text="'Opis :' + ${grzyb.description}"></p>
            </div>
        </div>
    </div>
    </body>
</th:block>
</html>
