<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Strona główna'">




<th:block layout:fragment="content">





  <body background="http://s10.ifotos.pl/img/226850zie_qehrhew.jpg">


  <div class="col-md-6">
    <img
            src="https://zapodaj.net/images/32e6484b06eba.png" >


    </img>
  </div>




  <div class ="row1">

    <div class = "zegar">
      <canvas id="clock">

        <script src="/js/Vector.js"></script>

        <script src="/js/clock.js"></script>
      </canvas>
    </div>
  </div>








  </body>







</th:block>
</html>