<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Strona główna'">










  <body background="http://s10.ifotos.pl/img/226850zie_qehrhew.jpg">
  <th:block layout:fragment="content">

  <div class="limage">
    <img
            src="http://s2.ifotos.pl/img/grzyb3jpg_qehrsrh.jpg" >
    </img>

  </div>






<div class ="zegar">
          <canvas id="clock">

            <script src="/js/Vector.js"></script>

            <script src="/js/clock.js"></script>
          </canvas>

  </div>
</th:block>
  </body>

</html>