<html lang="pl"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Logowanie'">
<th:block layout:fragment="content">
    <form class="form-horizontal" method="post" th:action="@{/login}" id='loginForm'>
        <div class="alert alert-danger col-lg-offset-3 col-lg-6" th:if="${param.error}" id='errorDivWithCommunicate'>
            <p>Niewłaściwe nazwa użytkownika, hasło lub konto nie jest aktywowane.</p>
        </div>
        <div class="form-group row" id='formLoginInput'>
            <label for="loginInput" class="col-lg-offset-3 col-lg-6">Login:</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input name="username" type="text" class="form-control" id='loginInput' />
            </div>
        </div>
        <div class="form-group row">
            <label for="passwordInput" class="col-lg-offset-3 col-lg-6">Hasło:</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input name="password" type="password" class="form-control" id='passwordInput' />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary" id='buttonSubmit'>Zaloguj</button>
            </div>
        </div>
    </form>
</th:block>
</html>