<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout" th:with="title='Rejestracja użytkownika'">
<th:block layout:fragment="content">
    <body background="https://www.tapeciarnia.pl/tapety/normalne/tapeta-marynowane-grzyby-w-sloikach-obok-prawdziwkow-na-desce.jpg">
    <form class="form-horizontal" method="post" th:action="@{/user/registration}" th:object="${userTO}" id='registerForm' enctype="multipart/form-data">
        <div class="form-group row">
            <label for="name-input" class="col-lg-offset-3 col-lg-6">Imie</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Jan" th:field="*{name}" type="text" id="name-input"/>
                <div th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" class="alert alert-danger" > </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastname-input" class="col-lg-offset-3 col-lg-6">Nazwisko</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Kowalski" type="text" th:field="*{lastname}" id="lastname-input"/>
                <div th:if="${#fields.hasErrors('lastname')}"  th:errors="*{lastname}" class="alert alert-danger" > </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email-input" class="col-lg-offset-3 col-lg-6">Email</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="nazwa@gmail.com" type="email" th:field="*{email}" id="email-input"/>
                <div th:if="${#fields.hasErrors('name')}"  th:errors="*{email}" class="alert alert-danger" > </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="tel-input" class="col-lg-offset-3 col-lg-6">Telefon</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="(48)000-000-000 " type="tel"  id="tel-input" th:field="*{phone}" />
                <div th:if="${#fields.hasErrors('phone')}"  th:errors="*{phone}" class="alert alert-danger" > </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="adress-input" class="col-lg-offset-3 col-lg-6">Adres</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Ulica 00/00 Miasto " type="text" th:field="*{adress}" id="adress-input"/>
                <div th:if="${#fields.hasErrors('adress')}"  th:errors="*{adress}" class="alert alert-danger" > </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="postnumber-input" class="col-lg-offset-3 col-lg-6">Kod pocztowy</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="00-000" type="text" th:field="*{postnumber}" id="postnumber-input"/>
                <div th:if="${#fields.hasErrors('postnumber')}"  th:errors="*{postnumber}" class="alert alert-danger" > </div>
            </div>
        </div>


        <div class="form-group row">
            <label for="password-input" class="col-lg-offset-3 col-lg-6">Haslo</label>
            <div class="col-lg-offset-3 col-lg-6">
                <input class="form-control" placeholder="Minimalna długość(5 znaków)" type="password" th:field="*{password}"
                       id="password-input"/>
                <div th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" class="alert alert-danger" > </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary" id='sendRegisterForm'>Rejestracja</button>
            </div>
        </div>
    </form>
    </body>
</th:block>
</html>
